<% include header %>
<div class="container">
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h2>Áru</h2>
        <form method="POST">
            <div class="form-group">
                <label for="InputNewItemName">Név</label>
                <input type="text" class="form-control" id="name" placeholder="megnevezés" name="name"
                value="<%= (typeof aru === 'undefined') ? '' : aru.name %>">
            </div>
            <div class="form-group">
                <label for="InputNewItemCount">Mennyiség</label>
                <input type="text" class="form-control" id="count" placeholder="mennyiség" name="count"
                value="<%= (typeof aru === 'undefined') ? '' : aru.count %>">
            </div>
            <div class="form-group">
                <label for="InputNewItemCount">Egységár</label>
                <input type="text" class="form-control" id="unitPrize" placeholder="mennyiség" name="unitPrice"
                value="<%= (typeof aru === 'undefined') ? '' : aru.unitPrice %>">
            </div>
            <hr class="mb-4">
            <input type="submit"  class="btn btn-primary btn-lg active" 
                aria-pressed="true" value="Mentés"/>
            <a href="/store/view/<%= boltid %>" class="btn btn-danger btn-lg active" 
                aria-pressed="true">Mégse</a>
        </form>
    </div>
    <div class="col-4"></div>
</div>
<% include footer %>