<% include header %>
<div class="container">
            <div class="row">
                    <div class="col">
                        <h2>Összes áru</h2>
                    </div>
                </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Név</td>
                            <th scope="col">Mennyiség</td>
                            <th scope="col">Egységárr</td>
                            <th scope="col">Hol van készleten</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">név1</td>
                            <td scope="row">mennyiség1</td>
                            <td scope="row">ár1</td>
                            <td scope="row">holvan1</td>
                        </tr>
                        <tr>
                            <td scope="row">név2</td>
                            <td scope="row">mennyiség2</td>
                            <td scope="row">ár2</td>
                            <td scope="row">holvan2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <!--gomb-->
            <div class="col">
                <a href="/store/view" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Boltok</a>
            </div>
        </div>

    </div>
<% include footer %>