<% include header %>
<div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h2>Új áru felvétele</h2>
                <form>
                    <div class="form-group">
                        <label for="InputNewItemName">Új áru neve</label>
                        <input type="text" class="form-control" id="InputNewItemName" placeholder="megnevezés">
                    </div>
                    <div class="form-group">
                        <label for="InputNewItemCount">Mennyiség</label>
                        <input type="text" class="form-control" id="InputNewItemCount" placeholder="mennyiség">
                    </div>
                    <div class="form-group">
                        <label for="InputNewPlace">Bolt címe</label>
                        <input type="text" class="form-control" id="InputNewPlace" placeholder="cím">
                    </div>
                    <hr class="mb-4">
                    <a href="storeinventory.html" class="btn btn-primary btn-lg active" role="button"
                        aria-pressed="true">Módist</a>
                    <a href="storeinventory.html" class="btn btn-danger btn-lg active" role="button"
                        aria-pressed="true">Mégse</a>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
        <% include footer %>